apiVersion: v1
kind: ConfigMap
metadata:
  name: spinnaker-demo-config
  namespace: spinnaker
data:
  NEW_FEATURE: "true"  
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: spinnaker-demo
  namespace: spinnaker
  labels:
    source: demo
    stack: frontend
    app: spinnaker
spec:
  replicas: 3
  selector:
    matchLabels:
      source: demo
      app: spinnaker
  template:
    metadata:
      labels:
        source: demo
        app: spinnaker
    spec:
      containers:
      - name: primary
        image: index.docker.io/syc0pat/spinnaker-java-template:0.0.1-SNAPSHOT
        ports:
        - containerPort: 9999
#         readinessProbe:
#           httpGet:
#             path: /
#             port: 9999
        envFrom:
        - configMapRef:
            name: spinnaker-demo-config
---
apiVersion: v1
kind: Service
metadata:
  name: spinnaker-demo
  namespace: spinnaker
spec:
  type: NodePort
  selector:
    source: demo
    app: spinnaker
  ports:
  - protocol: TCP
    nodePort: 30001
    port: 80
    targetPort: 9999
