<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>Index Page</title>
</head>
<body style="background-color:green">

<h1>Welcome to Tribal</h1>

<br>
<!--<h3>v3</h3>-->
<br>
<br>
<br>
<br>
<br>


<!--<button onclick="window.location.href='signup'">Signup</button>-->
<!--<br>-->
<!--<button onclick="window.location.href='login'">Login</button>-->
<!--<a th:href="@{/hello}">Signup</a>-->



<!--
 IF USER IS ANONYMOUS
<div th:if="${user.name}">
  <h1 th:text=" 'Hi,' + ${user.name}">Hi, User</h1>
</div>
&lt;!&ndash; ELSE &ndash;&gt;
<div th:unless="${user.name}">
  <h1>Welcome, Guest</h1>
</div>
-->

</body>
</html>
